<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Ḧł₲Ḧ ṬΞ₵H \\ ⱠØ₩ Ⱡł₣Ξ</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#!">Projects</a>
          <ul class="nav-dropdown">
            <li>
              <a href="/projects/001_mini_beast/001_mini_beast">001 Mini DAW</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
