---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <head>
    
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>  
    
    {% include nav.html %}

    <header class="page-header" role="banner">
      <img src="/assets/img/htll_header.jpg">
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Graciously provided by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>

  <script type="text/javascript">
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
    
    $('li').hover(function() {
    $(this).find('ul, li, div').transition('fade down');  
    }, function() {
    $(this).find('ul, li, div').transition('fade up');  
    });
    
      }); // end DOM ready
})(jQuery); // end jQuery
    
  </script>
  
</html>
